
<section>
    <br />
    <div class="row">
        <div class="col-lg-2 hidden-xs opaque-background rounded">
            <img src="~/images/characters/cluckles.png" class="img-responsive" />
            <div class="alert alert-info text-center">
                <strong>Hi, I am Cluckles!</strong><br />
                <p>Dota is hard and confusing, lucky I am here to help make it fun and insightful</p>
            </div>
        </div>
        <div class="col-lg-10 opaque-background rounded">
            <h2 class="important-title">High Ground Vision</h2>
            <h3>All Pick</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ornare neque velit, tincidunt luctus libero accumsan eu. In mattis, est a porttitor rutrum, neque sapien laoreet mi, quis hendrerit odio mauris ac risus. Nunc metus ex, accumsan non tincidunt eu, varius a ante. Fusce augue lacus, ultricies ut felis quis, rhoncus egestas sapien. Quisque ut faucibus justo, non blandit ipsum. Curabitur id lacus rhoncus, laoreet justo quis, varius ex. Donec a lectus a ligula tristique elementum sed viverra enim. Donec vulputate, eros eget fringilla finibus, metus diam congue est, et ornare orci diam in leo. Fusce eget libero ut quam viverra aliquam. Donec vehicula ipsum eu diam suscipit aliquam. Donec purus sem, congue eu lacinia in, tristique porttitor diam. Duis nec ullamcorper velit. Nullam maximus magna consequat lectus facilisis, dictum molestie felis mattis. Pellentesque maximus lorem sit amet dolor convallis, ut venenatis enim accumsan. Fusce id neque a velit porta faucibus. Cras risus urna, scelerisque placerat interdum id, sollicitudin sed mi.</p>
            <p>Nullam maximus ipsum ipsum, at luctus mi elementum ut. Mauris est nisi, bibendum eget eros tristique, lobortis auctor metus. Curabitur scelerisque orci at nunc tempor, eu interdum mi feugiat. Curabitur tincidunt rhoncus libero id vulputate. Praesent non consectetur dolor, vitae auctor massa. Donec ac elit sit amet dolor fermentum lacinia. Aliquam id mauris vitae nibh viverra eleifend id sed urna. Nunc nunc lectus, hendrerit quis accumsan eu, interdum ut ligula. Donec tempor risus et ipsum blandit convallis. Curabitur a urna odio. Integer varius enim eget nisl consequat aliquet.</p>
        </div>
    </div>
   
</section>