@section Scripts
    {
    <environment include="Development">
        <script src="~/js/draft-strength.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/draft-strength.min.js" asp-append-version="true"></script>
    </environment>
}

<h2>Draft Strength</h2>

<section id="Selection">
    <h4>Draft</h4>
</section>

<section id="Results">
    <h4>Results</h4>
    <div></div>
</section>